%section#home
  %div.home-box
    %div.col-md-6.col-md-offset-3
      =image_tag("logo.png")
      %ul.login
        %li.facebook
          = link_to omniauth_authorize_path('user', 'facebook') do
            %i.icon-facebook-sign
            %span Login with Facebook
