%div#place-select.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type='button' data-dismiss='modal' aria-hidden=true) &times;
        %h4.modal-title Select the Pool Hall
      .modal-body
        %ul.nav.nav-tabs
          %li.list-title
            %a(href="#place-history" data-toggle="tab") History
          %li.list-title
            %a(href="#place-search" data-toggle="tab") Search
        %div.tab-content
          %div#place-history.tab-pane
            %ul.modal-list
              - @place_histories.each do |history|
                - if history.present?
                  %li(data-foursquare_id='#{history.foursquare_id}')= history.name
          %div#place-search.tab-pane
            %div.location-search
              %button.btn.btn-block.btn-success
                %i.icon-compass
                Search from Current Location
            %div.search-box
              %input.col-xs-9(placeholder="Enter the location.")
              %button.btn.btn-primary.col-xs-2
                %i.icon-search
            %ul.modal-list
