/*****************************************************************
* Common
*****************************************************************/
$WET-ASPHALT: #34495E;
$ALIZARIN: #E74C3C;
$POMEGRANATE: #C0392B;
$TURQUOISE: #1ABC9C;

$screen-xs-max: 480px;
$screen-sm-min: 481px;

/* Form */
.place-form, .member-form,
select.form-control, select.form-control:focus,
input[type=date], input[type=date]:focus,
input.url.form-control, input.url.form-control:focus {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  padding-left: 40px;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}
input.url.form-control, input.url.form-control:focus { cursor: text; }
input[type="date"].form-control, input[type="date"].form-control:focus { cursor: auto; }

.form-horizontal .form-group { margin: 0; }
.form-actions { margin-top: 20px; }

.select div:after, .place-form div:after, .member-form div:after {
  display: inline-block;
  position: absolute;
  line-height: 45px;
  top: 0;
  color: #efefef;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}
.select div:after, .member-form div:after {
  content: "\f107"; //angle-down
  right: 15px;
}
.place-form div:after {
  content: "\f105"; //angle-right
  right: 18px;
}
.member-form { padding-left: 105px; }

.form-group .form-group div:before {
  display: inline-block;
  position: absolute;
  line-height: 45px;
  left: 15px;
  top: 0;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
}
.place .form-group div:before { content: "\f041"; }
.place-form .form-group div:before { content: "\f041"; }
.member .form-group div:before { content: "\f007"; }
.member-form .form-group div:before { content: "\f007"; }
.rule .form-group div:before { content: "\f02b"; }
.video .form-group div:before { content: "\f03d"; }
.calendar .form-group div:before { content: "\f073"; }

.winner-form {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 0;
  left: 45px;
  color: #efefef;
  cursor: pointer;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  &:after {
    content: "\f091";
    display: block;
    position: absolute;
    line-height: 45px;
    left: 15px;
    top: 0;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
  }
  &.active, &:hover {
    background: $TURQUOISE;
    color: #fff;
  }
}


h3 {
  color: #fff;
  background: $WET-ASPHALT;
  padding: 10px 0 10px 10px;
  margin-bottom: 0;
  font-size: large;
  margin-top: 0;
}

/* List View */
.list {
  padding: 0;
  margin: 0;
  font-size: 16px;

  a, a:hover, a:visited {
    color: $WET-ASPHALT;
    text-decoration: none;
  }

  li:not(.list-title) {
    list-style: none;
    border-bottom: 1px solid #efefef;
    position: relative;
  }
  a li {
    &:hover {
      background: rgba(26,188,156,0.1);
      a { text-decoration: none; }
    }
  }

  a .list-title {
    position: relative;
    &:after {
      content: "\f105"; //angle-right
      display: inline-block;
      position: absolute;
      line-height: 39px;
      top: 0;
      right: 15px;
      color: #efefef;
      font-family: FontAwesome;
      font-weight: light;
      font-style: normal;
      font-size: 1.5em;
    }
  }

  p {
    display: inline-block;
    width: 35%;
  }
  img {
    width: 75px;
    height: 75px;
  }
  .arrow-link {
    color: #efefef;
    position: absolute;
    right: 10px;
    line-height: 75px;
  }
}

/* Sidr */
.sidr {
  box-shadow: none;
  ul { margin: 0; }
  ul, ul li, ul li a, ul li:hover a {
    box-shadow: none;
    border-top: none;
    border-bottom: none;
  }
  ul li, ul li:hover {
    a, a:hover {
      padding: 0 0 0 25px;
      margin: 0 15px;
      line-height: 48px;
      border-bottom: 1px solid #aaa;
      background: none;
    }
  }
  img {
    width: 20%;
    border-radius: 50%;
  }
  .navbar-text {
    padding: 15px;
    margin: 0;
  }

  i {
    position: absolute;
    width: 15px;
    line-height: 48px;
    margin-left: 15px;
  }
}


/* Kaminari */
#game-index div:last-child {
  text-align: center;
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #fff;
    background-color: $TURQUOISE;
    border-color: $TURQUOISE;
  }
}


/*****************************************************************
* Modal Window
*****************************************************************/
.modal-list {
  li {
    line-height: 45px;
    cursor: pointer;
    &:hover { color: $TURQUOISE; }
    img {
      height: 45px;
      width: 45px;
    }
  }
}
.nav-tabs li {
  border: none;
}

.search-box {
  height: 45px;
  margin: 15px 0;
  input {
    height: 34px;
    margin-right: 10px;
  }
}

.location-search {
  margin-top: 10px;
  i {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

/*****************************************************************
* Static Pages
*****************************************************************/
#home-body {
  padding-top: 0;
}
#home {
  .home-box {
    text-align :center;
    width: 90%;
    margin: 70px auto;
    padding: 80px 30px;
    border-radius: 7px;
    background: rgba(255,255,255,0.8);

    div {
      margin-bottom: 50px;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      p {
        font-size: large;
        color: #555;
      }
    }
  }

  a:hover { text-decoration: none; }
  li {
    margin: 20px auto 0;
    padding: 15px;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #fff;
    border-radius: 5px;
    &:hover { opacity: 0.9; }
  }

  i {
     border-right: 1px solid #efefef;
     margin-left: 10px;
  }
  span { margin-left: 10px; }

  .facebook {
    background: #3b5998;
    i { padding: 0 15px 0 5px; }
  }
  .twitter {
    background: #00acee;
    i { padding: 0 10px 0 0; }
  }
}


/*****************************************************************
* Switch Nav
*****************************************************************/
#switch-nav {
  width: 90%;
  margin: 20px auto;
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a, a:visited {
    color: $TURQUOISE;
  }

  a {
    li {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      border: 1px solid $TURQUOISE;
      text-align: center;
      line-height: 30px;

      &.active, &:hover {
        background: $TURQUOISE;
        color: #fff;
        a, a:visited {
          color: #fff;
        }
      }
    }
  }
  a:first-child {
    li {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  a:last-child {
    li {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

/*****************************************************************
* Game Index
*****************************************************************/
.list-result {
  float: left;
  width: 28px;
  text-align: center;
  line-height: 75px;
  padding: 0;
  color: #efefef;
  text-align: center;
  &.win {
    color: #fff;
    background: $TURQUOISE;
  }
  &.lose {
    color: $TURQUOISE;
  }
}


/*****************************************************************
* Game Show
*****************************************************************/
.youtube-wrapper {
  position: relative ;
  margin-top: 1.2em ;
  margin-bottom: 1.2em ;
  padding-top: 69px ;
  padding-bottom: 50% ;
  overflow: hidden ;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }

  iframe {
    border: none;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
  }
}

#game-show {
  li { padding: 15px; }
  i { margin-right: 5px; }
}


.result {
  padding: 15px;
  i { margin-right: 5px; }
  p {
    display: block;
    width: auto;
  }
  img { width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  div {
    width: 50%;
    float: left;
    text-align: center;
    p:last-child {
      border: 1px solid $TURQUOISE;
      color: $TURQUOISE;
      &.win {
        background: $TURQUOISE;
        color: white;
      }
    }
  }
}

