/*****************************************************************
* Common
*****************************************************************/
$WET-ASPHALT: #34495E;
$ALIZARIN: #E74C3C;
$POMEGRANATE: #C0392B;
$TURQUOISE: #1ABC9C;

/* List View */
.list {
  padding: 0;
  margin: 0;

  a, a:hover, a:visited {
    color: $WET-ASPHALT;
    text-decoration: none;
  }

  li {
    list-style: none;
    border-bottom: 1px solid #efefef;
    position: relative;
    &:hover {
      background: rgba(26,188,156,0.1);
      a { text-decoration: none; }
    }
  }
  p {
    display: inline-block;
    width: 35%;
  }
  p:nth-child(3) {
    width: 20%;
    strong {
      color: $ALIZARIN;
    }
  }
  img {
    width: 75px;
    height: 75px;
  }
  i:last-child {
    color: #efefef;
    position: absolute;
    right: 10px;
    line-height: 75px;
  }
}

/* Sidr */
.sidr {
  box-shadow: none;
  ul, ul li, ul li a, ul li:hover a {
    box-shadow: none;
    border-top: none;
    border-bottom: none;
  }
  ul li, ul li:hover {
    a, a:hover {
      padding: 0 0 0 25px;
      margin: 0 15px;
      line-height: 48px;
      border-bottom: 1px solid #aaa;
      background: none;
    }
  }
  img {
    width: 20%;
    border-radius: 50%;
  }
  .navbar-text {
    padding: 15px;
    margin: 0;
  }

  i {
    position: absolute;
    width: 15px;
    line-height: 48px;
    margin-left: 15px;
  }
}


/*****************************************************************
* Static Pages
*****************************************************************/
#home-body {
  padding-top: 0;
}
#home {
  .home-box {
    text-align :center;
    width: 90%;
    margin: 70px auto;
    padding: 80px 30px;
    border-radius: 7px;
    background: rgba(255,255,255,0.8);

    div {
      margin-bottom: 50px;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      p {
        font-size: large;
        color: #555;
      }
    }
  }

  a:hover { text-decoration: none; }
  li {
    margin: 20px auto 0;
    padding: 15px;
    line-height: 1.5em;
    font-size: 1.5em;
    color: #fff;
    border-radius: 5px;
    &:hover { opacity: 0.9; }
  }

  i {
     border-right: 1px solid #efefef;
     margin-left: 10px;
  }
  span { margin-left: 10px; }

  .facebook {
    background: #3b5998;
    i { padding: 0 15px 0 5px; }
  }
  .twitter {
    background: #00acee;
    i { padding: 0 10px 0 0; }
  }
}


/*****************************************************************
* Switch Nav
*****************************************************************/
#switch-nav {
  width: 90%;
  margin: auto;

  ul {
    margin: 0;
    padding: 0;
  }

  a, a:visited {
    color: $TURQUOISE;
  }

  a {
    li {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      border: 1px solid $TURQUOISE;
      text-align: center;
      line-height: 30px;

      &.active, &:hover {
        background: $TURQUOISE;
        color: #fff;
        a, a:visited {
          color: #fff;
        }
      }
    }
  }
  a:first-child {
    li {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  a:last-child {
    li {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

/*****************************************************************
* Game Index
*****************************************************************/
#game-index {
  h3 {
    color: #fff;
    background: $WET-ASPHALT;
    padding: 10px 0 10px 10px;
    margin-bottom: 0;
    font-size: large;
  }

}

